/*全局样式*/
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    font-family: "Microsoft YaHei",serif;
    font-size: 62.5%;
}
li{
    list-style: none;
}
h2{
    font-size: 2.8rem;
    margin-top: 8%;
}
h3{
    font-size: 1.5rem;
    color: #999;
    margin-top: 1%;
}
/*首页*/
.header{
    width: 100%;

    background: url("../images/3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
}
.header .name{
    font-size: 5rem;
    font-weight: 200;
    padding: 30px 0;
    position: relative;
}
.header .name:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5rem;
    width: 10rem;
    padding: 1px;
    background: #fff;
}
.header .welcome{
    font-size: 2rem;
    font-weight: 200;
    margin-top: 5%;
}
.header .visit{
    font-weight: 100;
    padding: 1% 3%;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 10%;
}
.header .down{
    position: absolute;
    left: 50%;
    bottom: 20px;
}
.glyphicon-chevron-down:before {
    position: absolute;
    bottom: 0;
}
/*导航栏*/
.nav-name{
    color: #000!important;
    font-weight: 400;
}
@media screen and (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 0;
        margin-right: 25%;
    }
    .nav-name{
        margin-left: 150px;
    }
}
.navbar-default .navbar-nav>li>a{    /*过渡动画效果*/
    transition:background-color 1s ease;
    -moz-transition:background-color 1s ease; /* Firefox 4 */
    -webkit-transition:background-color 1s ease; /* Safari and Chrome */
    -o-transition:background-color 1s ease; /* Opera */
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active{
    background-color: #337ab7!important;
    color: #fff!important;
}
.navbar-default .navbar-nav>.active>a{
    color: #fff;
    background-color: #337ab7;
}
/*自我介绍部分*/
h4{
    font-size: 2rem;
    margin-top: 0;
}
h4 span{
    font-size: 1.5rem;
    color: #999;
    display: inline-block;
    padding: 3% 0;
}
.glyphicon{
    font-size: 2rem;
    float: right;
    background-color: #337ab7;
    color: #fff;
}
.glyphicon-user:before,
.glyphicon-edit:before,
.glyphicon-envelope{     /*每个板块的右边的图标*/
    display: inline-block;
    padding: 13px;
}
.about-me img{
    width: 320px;
    float:left;
    margin-right: 2%;
}
.about-me-content,.about-me-skill{
    margin: 4% 0;
}
/*作品列表部分*/
.work-1,.work-2,.work-3,.work-4,.work-5,.work-6{
    margin: 4% 0;
}
/*联系方式部分*/
.contact-content{
    margin: 4% 0 100px 0;
}
.contact ul li{
    font-size: 2rem;
    font-weight: 200;
    margin: 2% 0;
}


@media screen and (max-width: 768px){
    html,body{
        font-size: 40% !important;
    }
    h4{
        padding-top: 10px!important;
        clear: both;
    }
}